#QUESTION 1

In [1]:
a = 0

In [2]:
def b():
    global a
    a = c(a)

In [3]:
def c(a):
    return a + 2

In [4]:
b()
b()
b()
a

6

 EXPLANATION;
Each time 2 is added...
b() then a is 0 + 2 = 2
b() then a is 2 + 2 = 4
b() then a is 4 + 2 = 6
a is 6 finally

first we are declaring a variable 'a' and making it equal to 0, 
when we are defining  function b() in which we are making 'a' global,we can access A and change its value inside this function.
we make a = c(a), calling a function c() and storing the value it returns in a.In function c(), we are returning a+2. This makes a's value = 2 when we call b() for the first time, 4 when we call it for the 2nd time and 6 when we call it for the 3rd time.

#QUESTION 2

In [9]:
def filelength(r):
    try:
        file = open(r)
        x = file.readlines()
        file.close()
        print(len())
    except:
        print('File {} was not found'.format(r))
        filelength('Problem Set 2.ipynb')
        filelength('HARDIK.ipynb')

#QUESTION 3

In [11]:
class Marsupial: # constructor definition 
    def __init__(self): 
        self.lst = [] # put_in_pouch method 
    def put_in_pouch(self, item): 
        self.lst.append(item) # pouch_contents method 
    def pouch_contents(self):
        print(self.lst)
        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

 #QUESTION 3-a, b , c

In [12]:
class Kangaroo(Marsupial):

    # the constructor

    def __init__(self, x,y):

    # parents constructor

        Marsupial.__init__(self)

        self.x=x

        self.y=y

    # the required method

    def jump(self, dx, dy):

    # incrmetns the respective instace variables

        self.x+=dx

        self.x+=dy
    def __str__(self):

        return "I am a Kanagroo located at coordinates ("+str(self.x)+","+str(self.y)+")"

In [13]:
k = Kangaroo(0,0)

print(k)

I am a Kanagroo located at coordinates (0,0)

In [15]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']
None

just run output 2 times by mistakely....

In [16]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kanagroo located at coordinates (3,0)

#QUESTION 4

In [18]:
def collatz(num):
    if num == 1:
        print(1)
    elif num % 2 == 0:
        print(num)
        collatz(num//2)
    else:
        print(num)
        collatz(3*num+1)

In [19]:
collatz(1)

1

In [20]:
collatz(10)

10
5
16
8
4
2
1

#QUESTION 5

In [26]:
def binary(num):
    if num == 0:
        return 0
    else:
        binary(num//2)
    print(num%2, end ='')

In [27]:
binary(0)

0

In [28]:
binary(1)

1

In [29]:
binary(3)

11

In [30]:
binary(9)

1001

#QUESTION 9

In [33]:
words =['The','quick', 'brown', 'fox','jumps','over','the','lazy','dog']

In [34]:
# Printing all words upper case
print([x.upper() for x in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [35]:
# Printing all words lower case 
print([x.lower() for x in words])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [36]:
# Printing length of each word
print([len(x) for x in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [37]:
 # where each list contains the word in uppercase and lowercase and the length of the word 
print([[x.upper(), x.lower(), len(x)] for x in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [38]:
# Printing the list of words in list words containing 2 or more characters 
print([x for x in words if len(x)>=2])

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#QUESTION 8

In [39]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Requirement already satisfied: ipython>=1.0 in c:\users\hardik\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\hardik\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\hardik\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: six in c:\users\hardik\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: backcall in c:\users\hardik\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in c:\users\hardik\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hardik\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\hardik\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: pickleshare in c:\users\hardik\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in c:\users\hardik\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\hardik\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\hardik\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: decorator in c:\users\hardik\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\hardik\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: matplotlib-inline in c:\users\hardik\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\hardik\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\hardik\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hardik\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: asttokens in c:\users\hardik\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\hardik\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\hardik\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=1b4b8489bd8281d816d4bd57498b60b07995a20e7d7424f7699bfd5a5f8d252c
  Stored in directory: c:\users\hardik\appdata\local\pip\cache\wheels\75\f7\28\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.2

In [40]:
import sqlite3

In [42]:
con = sqlite3.connect('Problem set 2.db')
cur = con.cursor()
cur.execute("CREATE TABLE rainfall (City text, Country text, season text, Temperature float, Rainfall float)")

In [43]:
con.commit()
con.close()

In [44]:
con =sqlite3.connect('Problem Set 2.db')
cur = con.cursor()

In [45]:
cur.execute("INSERT INTO rainfall VALUES ('Mumbai','India','Winter',24.8,5.9)")

In [48]:
cur.execute("INSERT INTO rainfall VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO rainfall VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO rainfall VALUES ('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO rainfall VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO rainfall VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO rainfall VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO rainfall VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO rainfall VALUES ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO rainfall VALUES ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO rainfall VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO rainfall VALUES ('Cairo','Egypt','Fall',22.2,4.5)")

In [49]:
con.commit()
con.close()

In [50]:
con = sqlite3.connect('Problem Set 2.db')
cur = con.cursor()
cur.execute('SELECT * FROM rainfall')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [51]:
cur.execute("SELECT Temperature FROM rainfall")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [52]:
cur.execute("SELECT DISTINCT City FROM rainfall")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [53]:
cur.execute("SELECT * FROM rainfall WHERE Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [54]:
cur.execute("SELECT * FROM rainfall WHERE Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [55]:
cur.execute("SELECT City,Country,Season FROM rainfall WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [56]:
cur.execute("SELECT City, Country FROM rainfall WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [57]:
cur.execute("SELECT SUM(Rainfall) AS 'Total_Rainfall' FROM rainfall WHERE City = 'Cairo'")
cur.fetchall()

[(27.6,)]

In [58]:
cur.execute("SELECT SUM(Rainfall) FROM rainfall WHERE Season = 'Winter'")
cur.fetchall()

[(230.1,)]

In [59]:
cur.execute("SELECT SUM(Rainfall) FROM rainfall WHERE Season = 'Spring'")
cur.fetchall()

[(192.29999999999998,)]

In [60]:
cur.execute("SELECT SUM(Rainfall) FROM rainfall WHERE Season = 'Summer'")
cur.fetchall()

[(1706.5,)]

In [61]:
cur.execute("SELECT SUM(Rainfall) FROM rainfall WHERE Season = 'Fall'")
cur.fetchall()

[(569.0,)]

In [62]:
cur.execute("SELECT Rainfall from rainfall WHERE Season ='Spring'")
cur.fetchall()

[(16.2,), (169.6,), (6.5,)]

In [63]:
con.commit()
con.close()

In [64]:
import sqlite3
con = sqlite3.connect('Problem Set 2.db')
cur = con.cursor()
cur.execute("SELECT * FROM rainfall")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [65]:
con.close()

#QUESTION 7

In [66]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):
    
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        
    def handle_starttag(self, tag, attrs):
        if tag =='a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)
                        
    def getLinks(self):
        return self.links

In [67]:
url = 'https://reed.cs.depaul.edu/lperkovic/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
collector.getLinks()

['http://reed.cs.depaul.edu/lperkovic/test2.html',
 'https://reed.cs.depaul.edu/lperkovic/test3.html']

In [68]:
import re
def analyze(url):
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()
    content = re.sub( r'<[^>]*>','',content).strip()

    for i in urls:
        print(" " + '{:45}'.format(i))
        analyze(i)
        
    return urls

In [69]:
def crawl3(url):
    print('{:45}'.format(url))
    analyze(url)
    
crawl3('https://reed.cs.depaul.edu/lperkovic/test1.html')

https://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
 http://reed.cs.depaul.edu/lperkovic/test4.html
 https://reed.cs.depaul.edu/lperkovic/test3.html
 https://reed.cs.depaul.edu/lperkovic/test4.html

#QUESTION 6

In [72]:
infile =open('Problems Set 2.txt')
content = infile.read()
infile.close()
from html.parser import HTMLParser
parser = HTMLParser()
parser.feed(content)

FileNotFoundError: [Errno 2] No such file or directory: 'Problems Set 2.txt'